.App {
  text-align: center;
  justify-content: center;
}

.fighters-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.fighters-grid div {
  transition: transform 0.3s;
}

.fighters-grid div:hover {
  transform: scale(1.107);
}